/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  width: 40px; /* 로고 크기 조정 */
  height: auto;
  margin-right: 10px; /* 텍스트와 로고 사이 간격 */
  margin-left: -10px; /* 왼쪽 간격 줄이기 */
}

.App {
  min-height: 100vh;
  background-color: black;
}

.dark-theme {
  background-color: #121212;
  min-height: 100vh;
}

.container-inner {
  max-width: 1200px;  /* 최대 너비 설정 */
  margin: 0 auto;     /* 중앙 정렬 */
  padding: 0 15px;    /* 내부 여백 */
}

.movie-card {
  transition: transform 0.2s;
  border: 1px solid #2d2d2d;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

/* Modal close button color */
.modal-header .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

/* Navbar Styles */
.navbar {
  background-color: #E50914;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

/* Top Movies Section Styles */
.top-movies-section {
  padding: 2rem;
}

.top-movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.movie-card {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-info {
  padding: 1rem;
}

.movie-info h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.movie-info p {
  margin: 0;
  color: #666;
}

.movie-info button {
  background-color: #E50914;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* Watch Later Section Styles */
.watch-later-section {
  padding: 2rem;
}

.watch-later {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}